.App {
  height: calc(100% - 20px);
  width: 100%;
}

.title {
  text-align: center;
}

.form {
  border: 1px solid transparent;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-out;
}

.form:has(> .input:focus) {
  border: 1px solid #b9bbbe;
}

.input {
  border-radius: 9px 0 0 9px;
  padding: 15px;
  flex-grow: 1;
  background-color: #40444b;
}

.search {
  border: 1px solid transparent;
  border-radius: 9px;
  padding: 15px;
  background-color: #40444b;
  transition: .3s ease-out;
}

.search:focus {
  border: 1px solid #b9bbbe;
}

.messages {
  flex-grow: 1;
  overflow: auto;
}

.user-container {
  display: flex;
  flex-direction: column;
  background-color: #36393f;
  height: 100%;
  padding: 20px;
}

.users-title {
  text-align: center;
  margin-bottom: 10px;
}

.user-info {
  padding: 10px;
  color: #d1d1d1;
  display: flex;
  justify-content: space-between;
}

.user-info:hover {
  background-color: #36393f;
}

.button-submit {
  padding: 15px;
  background-color: #40444b;
  color: #d1d1d1;
  font-weight: bold;
  border-radius: 0 9px 9px 0;
  transition: .2s ease-out;
}

.button-submit:hover {
  background-color: #b9bbbe;
  color: #40444b;
}

.button-delete {
  background-color: red;
  color: white;
  padding: 5px;
}

.button-update {
  background-color: limegreen;
  color: white;
  padding: 5px;
}

/* animação loading externa */
.lds-ring {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 5px solid #b9bbbe;
  border-radius: 50%;
  animation: lds-ring .9s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #b9bbbe transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.1s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.15s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.2s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}